# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/
test-reports/
junit.xml

# Production build
build/

# Environment files
.env
.env.*

# Generated assets
public/noisecancellation/
public/virtualbackground/

# IDE & OS files
.idea/
.vscode/
.DS_Store

# Credentials & Keys
serviceAccountKey.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
